<div class="form-container">
  <div class="row">
    <div class="party-details">
      <md-card>
        <h2>Welcome to CMS</h2>
        <form *ngIf="user" [formGroup]="addForm" (ngSubmit)="addParty()">
          <div class="form-inputs">
            <md-input dividerColor="accent" formControlName="name" placeholder="Party name"></md-input>
            <br />
            <md-input dividerColor="accent" formControlName="description" placeholder="Description"></md-input>
            <br />
            <md-input dividerColor="accent" formControlName="location" placeholder="Location name"></md-input>
            <br />
            <br />
            <div layout="row" layout-align="left">
              <button color="accent" md-raised-button type="submit">Add</button>
            </div>
            <br />
          </div>
        </form>
      </md-card>
    </div>
  </div>
</div>
