<!--<form [formGroup]="addForm" (ngSubmit)="addParty()">
  <label>Name</label>
  <input type="text" formControlName="name">
 
  <label>Description</label>
  <input type="text" formControlName="description">
 
  <label>Location</label>
  <input type="text" formControlName="location">
  
  <button>Add</button>
</form>-->


<!--<div class="form-container">
  <div class="container-background">
    <div class="form-content">
      <div class="">
        <h3>Welcome to CMS</h3>
        <form *ngIf="user" [formGroup]="addForm" (ngSubmit)="addParty()">
          <div style="display: table-row">
            <div class="form-inputs">
              <md-input dividerColor="accent" formControlName="name" placeholder="Party name"></md-input>
              <br/>
              <md-input dividerColor="accent" formControlName="description" placeholder="Description"></md-input>
              <br/>
              <md-input dividerColor="accent" formControlName="location" placeholder="Location name"></md-input>
              <br/><br/>
              <button color="accent" md-raised-button type="submit">Add</button>
            </div>
          </div>
        </form>
        <div *ngIf="!user">
          Please login in order to create new parties!
        </div>
      </div>
    </div>
  </div>
</div>-->

<div class="form-container">
  <div class="row">
    <div class="party-details">
      <md-card>
        <h2>Welcome to CMS</h2>
        <form *ngIf="user" [formGroup]="addForm" (ngSubmit)="addParty()">
          <div class="form-inputs">
            <md-input dividerColor="accent" formControlName="name" placeholder="Party name"></md-input>
            <br />
            <md-input dividerColor="accent" formControlName="description" placeholder="Description"></md-input>
            <br />
            <md-input dividerColor="accent" formControlName="location" placeholder="Location name"></md-input>
            <br />
            <br />
            <div layout="row" layout-align="left">
              <button color="accent" md-raised-button type="submit">Add</button>
            </div>
            <br />
          </div>
        </form>
      </md-card>
    </div>
  </div>
</div>